.active{
    color: black;
}
.gap{
    margin-top: 50px;
}
.item-align{
    text-align: center;
}
.active{
    background-image: ;
}
.logo{
    height: 70px;
}
.button{
    background-color: black;
    color: white;
    background: none;
    border: none;
    background-color: black;
    padding: 8px 20px;
    border-radius: 8px;
}
.carousel-item{
    padding: 20px 40px;
}
.card{
    border: none;
}
.card-footer{
    border: none;
    background-color: white;
}
.card, .card-footer{
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.cat{
    margin-top: 100px;
    margin-bottom: 10spx;
    text-align: center;
}
.box-align{
    height: 10px;
    width: 120px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #fdc21f, #fe9b35);
}
footer, small{
    text-align: center;
    margin-top: 20px;
}
a{
    color: #ffa310;
}
.cat-bag, .cat-perfume, .cat-shoe{
    box-shadow: 5px 5px 10px grey;
    text-align: center;
}
.cat-bag{
    border-radius: 0px 0px 0px 12px;
}
.cat-perfume{
    border-radius: 0px 0px 12px 0px;
}
.cat-shoe{
    border-radius: 0px 0px 12px 0px;
}




.navbar{
    background-color: white !important;
}







.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}